body {
    text-align: center;
    background-color: #111426;
    color: #FFFFFF;
    margin: 1em;
}

.table-el {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    color: powderblue;
}

p{
    padding: 3px 30px 3px 30px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    color: #D19DFC;
}

#blank-space {
    margin-top: 50px;
}

@media (max-width:480px) {
    body {
        margin: 2em;
    }
}